<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise-2</title>
    <link rel="stylesheet" href="../assets/dist/custom.css">
    <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/exercise-2.js"></script>
</head>
<body>
    <div class="ootb-tabcordion">
        <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
            <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1"></button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2" tabindex="-1"></button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3" tabindex="-1"></button>
            <button class="tab" role="tab" aria-selected="false" aria-controls="tab4-tab" id="tab4" tabindex="-1"></button>
        </div>
        <div id="tab1-tab" class="ootb-tabcordion--entry is-active" data-title="" tabindex="0" role="tabpanel" aria-labelledby="tab1">
            <div class="ootb-tabcordion--entry-container">
                <div class="ootb-tabcordion--entry-content">
                    <p></p>
                </div>
            </div>
        </div>
        <div id="tab2-tab" class="ootb-tabcordion--entry" data-title="Tab 2" tabindex="-1" role="tabpanel" aria-labelledby="tab2">
            <div class="ootb-tabcordion--entry-container">
                <div class="ootb-tabcordion--entry-content"></div>
            </div>
        </div>
        <div id="tab3-tab" class="ootb-tabcordion--entry" data-title="Tab 3" tabindex="-1" role="tabpanel" aria-labelledby="tab3">
            <div class="ootb-tabcordion--entry-container">
                <div class="ootb-tabcordion--entry-content"></div>
            </div>
        </div>
        <div id="tab4-tab" class="ootb-tabcordion--entry" data-title="Tab 4" tabindex="-1" role="tabpanel" aria-labelledby="tab4">
            <div class="ootb-tabcordion--entry-container">
                <div class="ootb-tabcordion--entry-content"></div>
            </div>
        </div>
    </div>
</body>
</html>
